<?php
namespace View\Compute
 ?>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Comic&nbsp;&middot;&nbsp;Liyusky</title>
    <!-- 引入 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <!--引入 general CSS 公共样式文件  -->
    <link rel="stylesheet" href="./css/general.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!--start content-->
    <div class="container">
      <div class="row">
        <ul class="col-md-8">
          <li class="thumbnail">
            <div class="caption">
              <h2>主标题
                <span class="badge pull-right">70</span>
              </h2>
              <p>
                <span>发表于&nbsp;</span>
                <span>2016-11-21</span>
              </p>
            </div>
            <a href="#">
              <img src="./images/thumbnail.jpg" alt="" />
            </a>
            <div class="caption">
              <p>
                这里有一些内容这里有一些内容这里有一些内容这里有一些内容这里有一些内容这里有一些内容这里有一些内容
                这里有一些内容这里有一些内容这里有一些内容这里有一些内容这里有一些内容这里有一些内容这里有一些内容
                这里有一些内容这里有一些内容这里有一些内容这里有一些内容这里有一些内容这里有一些内容这里有一些内容
                <a href="#">继续阅读&rarr;</a>
              </p>
              <div class="row">
                <div class="col-md-9">
                    <span>
                      发表在
                      <a href="#">动画</a>
                    </span>
                    <span>|</span>
                    <span>
                      标签:&nbsp;
                      <a href="#">动漫</a>
                      /
                      <a href="#">实妹</a>
                    </span>
                    <span>|</span>
                    <a href="#">45条回复</a>
                </div>
                <div class="col-md-3">
                  <p class="pull-right">
                    <span>作者:&nbsp;</span>
                    <a href="#">liyusky</a>
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="thumbnail">
            <div class="caption">
              <h2>主标题
                <span class="badge pull-right">80</span>
              </h2>
              <p>
                <span>发表于&nbsp;</span>
                <span>2016-11-21</span>
              </p>
            </div>
            <a href="#">
              <img src="./images/thumbnail.jpg" alt="" />
            </a>
            <div class="caption">
              <p>
                这里有一些内容这里有一些内容这里有一些内容这里有一些内容这里有一些内容这里有一些内容这里有一些内容
                这里有一些内容这里有一些内容这里有一些内容这里有一些内容这里有一些内容这里有一些内容这里有一些内容
                这里有一些内容这里有一些内容这里有一些内容这里有一些内容这里有一些内容这里有一些内容这里有一些内容
                <a href="#">继续阅读&rarr;</a>
              </p>
              <div class="row">
                <div class="col-md-9">
                    <span>
                      发表在
                      <a href="#">动画</a>
                    </span>
                    <span>|</span>
                    <span>
                      标签:&nbsp;
                      <a href="#">动漫</a>
                      /
                      <a href="#">实妹</a>
                    </span>
                    <span>|</span>
                    <a href="#">45条回复</a>
                </div>
                <div class="col-md-3">
                  <p class="pull-right">
                    <span>作者:&nbsp;</span>
                    <a class="#">liyusky</a>
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="col-md-4"></div>
      </div>
    </div>
    <!--end content-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="./javascript/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./javascript/bootstrap.js"></script>
</body>

</html>
