<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>评论</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/general.css">
</head>

<body>
    <img src="./images/logo.svg" alt="" />
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- s 评论填写框 -->
                <div class="row margin-vertical-extension">
                    <div class="col-md-2 text-center">
                        <a href="#">
                            <img src="./images/new-section-test.jpg" class="portrait img-rounded" alt="" />
                        </a>
                    </div>
                    <div class="col-md-8">
                        <textarea class="form-control textarea-control" rows="3"></textarea>
                    </div>
                    <div class="col-md-2">
                        <a href="#" class="btn btn-primary btn-deliver" data-title="1" data-id="1" onclick="javascript:setComment(jQuery(this));">发表</a>
                    </div>
                </div>
                <!-- e 评论填写框 -->
                <!-- s 评论内容 -->
                <ul class="media-list">
                    <!-- s lv1 -->
                    <li class="media row">
                        <a class="media-left col-md-2 text-center" href="#">
                            <img src="./images/new-section-test.jpg" class="portrait img-rounded" alt="" />
                        </a>
                        <div class="media-body col-md-10">
                            <h4 class="media-heading">
                              <a href="#">用户one</a>
                            </h4>
                            <p>这里是评论</p>
                            <div data-id="0" class="row appear">
                                <div class="col-md-1">
                                    <span class="btn">#1</span>
                                </div>
                                <div class="col-md-3">
                                    <span class="btn">2016-12-12&nbsp;11:23</span>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-link" data-agree="1" onclick="javascript:agree(jQuery(this));">赞&nbsp;&#40;<span>12</span>&#41;</a>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-link" data-open="1" data-id="0" data-level="1" onclick="javascript:setReply(jQuery(this));">回复</a>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-link" onclick="javascript:deleteComment(jQuery(this));">删除</a>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-link appear-target">举报</a>
                                </div>
                            </div>
                            <!-- s lv2 -->
                            <div class="media row">
                                <a class="media-left col-md-2 text-center" href="#">
                                    <img src="./images/new-section-test.jpg" class="portrait img-rounded" alt="" />
                                </a>
                                <div class="media-body col-md-10">
                                    <h4 class="media-heading">
                                      <a href="#">用户two</a>
                                    </h4>
                                    <p>这里是评论</p>
                                    <div data-id="0" class="row appear">
                                        <div class="col-md-3">
                                            <span class="btn">2016-12-12&nbsp;11:23</span>
                                        </div>
                                        <div class="col-md-2">
                                            <a class="btn btn-link" data-agree="1" onclick="javascript:agree(jQuery(this));">赞&nbsp;&#40;<span>12</span>&#41;</a>
                                        </div>
                                        <div class="col-md-2">
                                            <a class="btn btn-link" data-open="1" onclick="javascript:setReply(jQuery(this));">回复</a>
                                        </div>
                                        <div class="col-md-2">
                                            <a class="btn btn-link" onclick="javascript:deleteComment(jQuery(this));">删除</a>
                                        </div>
                                        <div class="col-md-2">
                                            <a class="btn btn-link appear-target">举报</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- e lv2 -->
                            <!-- s lv3 -->
                            <div class="media row">
                                <a class="media-left col-md-2 text-center" href="#">
                                    <img src="./images/new-section-test.jpg" class="portrait img-rounded" />
                                </a>
                                <div class="media-body col-md-10">
                                    <h4 class="media-heading">
                                      <a href="#">用户three</a>
                                    </h4>
                                    <p>这里是评论</p>
                                    <div data-id="0" class="row appear">
                                        <div class="col-md-3">
                                            <span class="btn">2016-12-12&nbsp;11:23</span>
                                        </div>
                                        <div class="col-md-2">
                                            <a class="btn btn-link" data-agree="1" onclick="javascript:agree(jQuery(this));">赞&nbsp;&#40;<span>12</span>&#41;</a>
                                        </div>
                                        <div class="col-md-2">
                                            <a class="btn btn-link" data-open="1" onclick="javascript:setReply(jQuery(this));">回复</a>
                                        </div>
                                        <div class="col-md-2">
                                            <a class="btn btn-link" onclick="javascript:deleteComment(jQuery(this));">删除</a>
                                        </div>
                                        <div class="col-md-2">
                                            <a class="btn btn-link appear-target" onclick="javascript:report();">举报</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- e lv3 -->
                        </div>
                    </li>
                    <!-- e lv1 -->
                </ul>
                <!-- e 评论内容 -->
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <script src="./javascript/jquery.min.js"></script>
    <script type="text/javascript">
        var meidaList   = jQuery(".media-list");
        var replyBoxDom = replyBox();
        var preDom      = null;
        var fatherName  = null;
        var level       = null;
        var floor       = 0;
        var commentId   = 0;
        var uid         = 0;

        /**
         * [setComment 添加评论]
         * @method   setComment
         * @param    {[dom]}                dom [this]
         * @version  [1.0]
         * @author liyusky
         * @datetime 2016-12-21T11:01:19+080
         */
        function setComment(dom) {
            var content = dom.parent().prev().find("textarea").val();
            if (!content) {
                alert("重新输入");
                return false;
            }
            if(dom.attr("data-id")) commentId = 0;
            jQuery.ajax({
                type: "POST",
                url: "../../Controller/Comment/get_commet.php",
                data: {
                  fid: commentId,
                  uid: uid,
                  content: content,
                },
                //dataType: 'json',
                timeout: 300,
                success: function(data) {
                  insertComment(dom);
                },
                error: function(xhr, type) {
                  alert("插入失败，请重试！");
                  console.log("status: " + xhr.status + " xhr.type: " + xhr.type);
                }
            });
        }

        function insertComment(dom, content) {
            var title = dom.attr("data-title");
            var mediaDom = null;
            floor++;
            if (title) {
                mediaDom = media(true, username, content, "2016-12-20 17:03:18", "30");
                meidaList.prepend(mediaDom);
            }
            else {
                mediaDom = media(false, username, content, "2016-12-20 17:03:18", "0");
                if (level) {
                    dom.parents(".margin-vertical-extension").before(mediaDom);
                }
                else {
                    dom.parents(".media:first").after(mediaDom);
                }
                dom.parents(".margin-vertical-extension").remove();
                preDom.attr("data-open", 1);
                preDom.attr("data-this", "");
            }
            dom.parent().prev().find("textarea").val("");
        }

        /**
         * [setReply 添加评论框]
         * @method   setReply
         * @param    {[dom]}                dom [this]
         * @version  [1.0]
         * @author liyusky
         * @datetime 2016-12-21T11:00:20+080
         */
        function setReply(dom) {
            level      = dom.attr("data-level");
            commentId  = dom.parents(".appear:first").attr("data-id");
            var open   = dom.attr("data-open");
            var point  = dom.attr("data-this");
            fatherName = dom.parents(".appear").siblings("h4").find("a:first").text();
            if (open && !point) {             // 可以加文本域
                if (preDom) {
                    preDom.parents("appear").next().remove();
                    preDom.attr("data-open", 1);
                    preDom.attr("data-this", "");
                }
                dom.parents(".appear").after(replyBoxDom);
                dom.attr("data-open", "");
                dom.attr("data-this", "1");
            }
            else {                         // 不可以加文本域
                dom.parents(".appear").next().remove();
                dom.attr("data-open", 1);
                dom.attr("data-this", "");
            }
            preDom = dom;
        }

        /**
         * [deleteComment 删除]
         * @method   deleteComment
         * @param    {[dom]}                dom [this]
         * @version  [1.0]
         * @author liyusky
         * @datetime 2016-12-21T10:59:30+080
         */
        function deleteComment(dom) {
            commentId  = dom.parents(".appear:first").attr("data-id");
            var flag = dom.parent().prev().children().attr("data-level") ? true : false;
            jQuery.ajax({
              type: "POST",
              url: "../../Controller/Comment/delete_comment.php",
              data: {
                  flag: flag,
                  id: commentId,
              },
              dataType: 'json',
              timeout: 300,
              success: function(data) {
                  deleteMedia(dom);
              },
              error: function(xhr, type) {
                alert('Ajax error!');
              }
            });
        }

        function deleteMedia(dom) {
            dom.parents(".media:first").remove();
            if (dom.parent().prev().find("a").attr("data-level")) {
                var i = jQuery("[data-floor]").size();
                floor = i;
                jQuery("[data-floor]").each(function() {
                    jQuery(this).text("#" + i--);
                });
            }
        }

        /**
         * [agree 赞同]
         * @method   agree
         * @param    {[dom]}                dom [this]
         * @version  [version]
         * @author liyusky
         * @datetime 2016-12-21T10:58:56+080
         */
        function agree(dom) {
            commentId  = dom.parents(".appear:first").attr("data-id");
            jQuery.ajax({
              type: "POST",
              url: "../../Controller/Comment/agree.php",
              data: {
                  id: commentId,
              },
              dataType: 'json',
              timeout: 300,
              success: function(data) {
                  addAgree(dom);
              },
              error: function(xhr, type) {
                alert('Ajax error!');
              }
            });
        }

        function addAgree(dom) {
            if (dom.attr("data-agree")) {
                dom.find("span").text(function() {
                    return jQuery(this).text() * 1 + 1;
                });
                dom.attr("data-agree", "");
            }
        }

        /**
         * [report 举报]
         * @method   report
         * @version  [1.0]
         * @author liyusky
         * @datetime 2016-12-21T10:57:48+080
         */
        function report() {
            commentId  = dom.parents(".appear:first").attr("data-id");
            jQuery.ajax({
              type: "POST",
              url: "../../Controller/Comment/report.php",
              data: {
                  id: commentId,
              },
              dataType: 'json',
              timeout: 300,
              success: function(data) {
                  alert("举报成功");
              },
              error: function(xhr, type) {
                alert('Ajax error!');
              }
            });
        }

        /**
         * [media 创建media dom]
         * @method   media
         * @param    {[boolean]}                mark     [开关]
         * @param    {[string]}                username [用户名]
         * @param    {[string]}                content  [内容]
         * @param    {[string]}                date     [日期]
         * @param    {[string]}                agree    [赞同数]
         * @return   {[dom]}                         [media]
         * @version  [1.0]
         * @author liyusky
         * @datetime 2016-12-21T10:50:17+080
         */
        function media(mark, username, content, date) {
            var dom = null;
            var htmlStr =
                "<a class='media-left col-md-2 text-center' href='#'>" +
                "<img src='./images/new-section-test.jpg' class='portrait img-rounded' />" +
                "</a>" +
                "<div class='media-body col-md-10'>" +
                "<h4 class='media-heading'>" +
                "<a href='#'>" + username + "</a>";
            if (!mark && !level) {
                htmlStr +=
                    "<span>&#58;</span>" +
                    "<a href='#'>&#64;<span>" + fatherName + "</span></a>";
            }
            htmlStr +=
                "</h4>" +
                "<p>" + content + "</p>" +
                "<div data-id="+ id +" class='row appear'>";
            if (mark) {
                htmlStr +=
                    "<div class='col-md-1'>" +
                    "<span class='btn' data-floor='1'>#" + floor + "</span>" +
                    "</div>";
            }
            htmlStr +=
                "<div class='col-md-3'>" +
                "<span class='btn'>" + date + "</span>" +
                "</div>" +
                "<div class='col-md-2'>" +
                "<a class='btn btn-link'data-agree='1' onclick='javascript:agree(jQuery(this));'>赞&nbsp;&#40;<span>0</span>&#41;</a>" +
                "</div>" +
                "<div class='col-md-2'>" +
                "<a class='btn btn-link' data-open='1'";
            if (mark) {
                htmlStr += "data-level='1'";
            }
            htmlStr +=
                "onclick='javascript:setReply(jQuery(this));'>回复</a>" +
                "</div>" +
                "<div class='col-md-2'>" +
                "<a class='btn btn-link' onclick='javascript:deleteComment(jQuery(this));'>删除</a>" +
                "</div>" +
                "<div class='col-md-2'>" +
                "<a class='btn btn-link appear-target'>举报</a>" +
                "</div>" +
                "</div>" +
                "</div>";
            if (mark) {
                dom = jQuery(document.createElement("li"));
            } else {
                dom = jQuery(document.createElement("div"));
            }
            dom.attr("class", "media row");
            dom.html(htmlStr);
            return dom;
        }

        /**
         * [replyBox 评论框]
         * @method   replyBox
         * @return   {[dom]}                [评论框 dom]
         * @version  [1.0]
         * @author liyusky
         * @datetime 2016-12-21T10:55:49+080
         */
        function replyBox() {
            this.dom = jQuery(document.createElement("div"));
            var htmlStr =
                "<div class='col-md-2 text-center'>" +
                "<a href='#'>" +
                "<img src='./images/new-section-test.jpg' class='portrait img-rounded' alt='' />" +
                "</a>" +
                "</div>" +
                "<div class='col-md-8'>" +
                "<textarea class='form-control textarea-control' rows='3'></textarea>" +
                "</div>" +
                "<div class='col-md-2'>" +
                "<a href='#' class='btn btn-primary btn-deliver' onclick='javascript:setComment(jQuery(this));'>发表</a>" +
                "</div>";
            this.dom.html(htmlStr);
            this.dom.attr("class", "row margin-vertical-extension");
            return this.dom;
        }
    </script>
</body>

</html>
