<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="utf-8">
  <title>login</title>
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <script src="./javascript/jquery.min.js"  type="text/javascript" charset="utf-8"></script>
  <script src="./javascript/bootstrap.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    login
  </button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">登陆</h4>
        </div>
        <div class="modal-body">
          <form role="form" id="login" action="../../Controller/login.php" method="post">
            <div class="form-group">
              <label for="register-username">username</label>
              <input type="text" class="form-control" name="username" placeholder="请输入用户名" id="register-username" form="login" />
            </div>
            <div class="form-group">
              <label for="register-password">password</label>
              <input type="password" class="form-control" name="password" placeholder="请输入密码" id="register-password" form="login" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary pull-right" form="login" value="注册">
        </div>
      </div>
    </div>
  </div>
</body>

<script type="text/javascript">
  jQuery('#login-btn').click(function() {
    jQuery.ajax({
      type: "POST",
      url: "../../Controller/register.php",
      data: {
        username: username,
        password: password,
        ip: "<?php $_SERVER['REMOTE_ADDR'] ?>",
        longitude: longitude,
        latitude : latitude
      },
      dataType: 'json',
      timeout: 300,
      success: function(data) {

      },
      error: function(xhr, type) {
        alert('Ajax error!');
      }
    });
  });
</script>

</html>
