<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>IT&nbsp;Technology&nbsp;&middot;&nbsp;Liyusky</title>
  <link rel="stylesheet" href="./css/bootstrap.css">
  <link rel="stylesheet" href="./css/general.min.css">
  <script src="./javascript/jquery.min.js"></script>
  <script src="./javascript/bootstrap.js"></script>
</head>

<body>

  <!-- start content -->
  <div class="container">
    <div class="row">
      <ul class="col-md-7 col-md-offset-1 media-list">
        <li class="media border-exist padding-extension rounded-default">
          <a href="#" class="media-left img-sm">
            <img src="./images/new-section-test.jpg" alt="" class="img-sm img-rounded" />
          </a>
          <div class="media-body">
            <h2 class="media-heading">
              这是标题
              <span class="badge pull-right">70</span>
            </h2>
            <p>
              这是一段内容这是一段内容这是一段内容这是一段内容
              这是一段内容这是一段内容这是一段内容这是一段内容
              这是一段内容这是一段内容这是一段内容这是一段内容
              <a href="#">继续阅读&rarr;</a>
            </p>
            <div class="row">
              <div class="col-md-8">
                  <span>时间:&nbsp;2016-11-29</span>
              </div>
              <div class="col-md-4">
                <p class="pull-right">
                  <span>作者:&nbsp;</span>
                  <a href="#">liyusky</a>
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="media border-exist padding-extension rounded-default">
          <a href="#" class="media-left img-sm">
            <img src="./images/new-section-test.jpg" alt="" class="img-sm img-rounded" />
          </a>
          <div class="media-body">
            <h2 class="media-heading">
              这是标题
              <span class="badge pull-right">70</span>
            </h2>
            <p>
              这是一段内容这是一段内容这是一段内容这是一段内容
              这是一段内容这是一段内容这是一段内容这是一段内容
              这是一段内容这是一段内容这是一段内容这是一段内容
              <a href="#">继续阅读&rarr;</a>
            </p>
            <div class="row">
              <div class="col-md-8">
                  <span>时间:&nbsp;2016-11-29</span>
              </div>
              <div class="col-md-4">
                <p class="pull-right">
                  <span>作者:&nbsp;</span>
                  <a href="#">liyusky</a>
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="media border-exist padding-extension rounded-default">
          <a href="#" class="media-left img-sm">
            <img src="./images/new-section-test.jpg" alt="" class="img-sm img-rounded" />
          </a>
          <div class="media-body">
            <h2 class="media-heading">
              这是标题
              <span class="badge pull-right">70</span>
            </h2>
            <p>
              这是一段内容这是一段内容这是一段内容这是一段内容
              这是一段内容这是一段内容这是一段内容这是一段内容
              这是一段内容这是一段内容这是一段内容这是一段内容
              <a href="#">继续阅读&rarr;</a>
            </p>
            <div class="row">
              <div class="col-md-8">
                  <span>时间:&nbsp;2016-11-29</span>
              </div>
              <div class="col-md-4">
                <p class="pull-right">
                  <span>作者:&nbsp;</span>
                  <a href="#">liyusky</a>
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="media border-exist padding-extension rounded-default">
          <a href="#" class="media-left img-sm">
            <img src="./images/new-section-test.jpg" alt="" class="img-sm img-rounded" />
          </a>
          <div class="media-body">
            <h2 class="media-heading">
              这是标题
              <span class="badge pull-right">70</span>
            </h2>
            <p>
              这是一段内容这是一段内容这是一段内容这是一段内容
              这是一段内容这是一段内容这是一段内容这是一段内容
              这是一段内容这是一段内容这是一段内容这是一段内容
              <a href="#">继续阅读&rarr;</a>
            </p>
            <div class="row">
              <div class="col-md-8">
                  <span>时间:&nbsp;2016-11-29</span>
              </div>
              <div class="col-md-4">
                <p class="pull-right">
                  <span>作者:&nbsp;</span>
                  <a href="#">liyusky</a>
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="media border-exist padding-extension rounded-default">
          <a href="#" class="media-left img-sm">
            <img src="./images/new-section-test.jpg" alt="" class="img-sm img-rounded" />
          </a>
          <div class="media-body">
            <h2 class="media-heading">
              这是标题
              <span class="badge pull-right">70</span>
            </h2>
            <p>
              这是一段内容这是一段内容这是一段内容这是一段内容
              这是一段内容这是一段内容这是一段内容这是一段内容
              这是一段内容这是一段内容这是一段内容这是一段内容
              <a href="#">继续阅读&rarr;</a>
            </p>
            <div class="row">
              <div class="col-md-8">
                  <span>时间:&nbsp;2016-11-29</span>
              </div>
              <div class="col-md-4">
                <p class="pull-right">
                  <span>作者:&nbsp;</span>
                  <a href="#">liyusky</a>
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="media border-exist padding-extension rounded-default">
          <a href="#" class="media-left img-sm">
            <img src="./images/new-section-test.jpg" alt="" class="img-sm img-rounded" />
          </a>
          <div class="media-body">
            <h2 class="media-heading">
              这是标题
              <span class="badge pull-right">70</span>
            </h2>
            <p>
              这是一段内容这是一段内容这是一段内容这是一段内容
              这是一段内容这是一段内容这是一段内容这是一段内容
              这是一段内容这是一段内容这是一段内容这是一段内容
              <a href="#">继续阅读&rarr;</a>
            </p>
            <div class="row">
              <div class="col-md-8">
                  <span>时间:&nbsp;2016-11-29</span>
              </div>
              <div class="col-md-4">
                <p class="pull-right">
                  <span>作者:&nbsp;</span>
                  <a href="#">liyusky</a>
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="media border-exist padding-extension rounded-default">
          <a href="#" class="media-left img-sm">
            <img src="./images/new-section-test.jpg" alt="" class="img-sm img-rounded" />
          </a>
          <div class="media-body">
            <h2 class="media-heading">
              这是标题
              <span class="badge pull-right">70</span>
            </h2>
            <p>
              这是一段内容这是一段内容这是一段内容这是一段内容
              这是一段内容这是一段内容这是一段内容这是一段内容
              这是一段内容这是一段内容这是一段内容这是一段内容
              <a href="#">继续阅读&rarr;</a>
            </p>
            <div class="row">
              <div class="col-md-8">
                  <span>时间:&nbsp;2016-11-29</span>
              </div>
              <div class="col-md-4">
                <p class="pull-right">
                  <span>作者:&nbsp;</span>
                  <a href="#">liyusky</a>
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="media border-exist padding-extension rounded-default">
          <a href="#" class="media-left img-sm">
            <img src="./images/new-section-test.jpg" alt="" class="img-sm img-rounded" />
          </a>
          <div class="media-body">
            <h2 class="media-heading">
              这是标题
              <span class="badge pull-right">70</span>
            </h2>
            <p>
              这是一段内容这是一段内容这是一段内容这是一段内容
              这是一段内容这是一段内容这是一段内容这是一段内容
              这是一段内容这是一段内容这是一段内容这是一段内容
              <a href="#">继续阅读&rarr;</a>
            </p>
            <div class="row">
              <div class="col-md-8">
                  <span>时间:&nbsp;2016-11-29</span>
              </div>
              <div class="col-md-4">
                <p class="pull-right">
                  <span>作者:&nbsp;</span>
                  <a href="#">liyusky</a>
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="col-md-3 col-md-offset-1 media-list">
        <li class="media row">
          <a href="#" class="media-left col-md-5">
            <img src="./images/it-sign.jpg" alt="" class="img-thumbnail" />
          </a>
          <div class="media-body col-md-7">
            <h4 class="media-heading text-center">HTML</h4>
            <hr class="split-line-lg border-charcoal" />
            <div class="row">
              <a href="" class="btn btn-default col-md-6">svg</a>
              <a href="" class="btn btn-default col-md-6">svg</a>
              <a href="" class="btn btn-default col-md-6">svg</a>
              <a href="" class="btn btn-default col-md-6">....</a>
            </div>
          </div>
        </li>
        <li class="media row">
          <a href="#" class="media-left col-md-5">
            <img src="./images/it-sign.jpg" alt="" class="img-thumbnail" />
          </a>
          <div class="media-body col-md-7">
            <h4 class="media-heading text-center">CSS</h4>
            <hr class="split-line-lg border-charcoal" />
            <div class="row">
              <a href="" class="btn btn-default col-md-6">ID</a>
              <a href="" class="btn btn-default col-md-6">ID</a>
              <a href="" class="btn btn-default col-md-6">ID</a>
              <a href="" class="btn btn-default col-md-6">....</a>
            </div>
          </div>
        </li>
        <li class="media row">
          <a href="#" class="media-left col-md-5">
            <img src="./images/it-sign.jpg" alt="" class="img-thumbnail" />
          </a>
          <div class="media-body col-md-7">
            <h4 class="media-heading text-center">JAVASCRIPT</h4>
            <hr class="split-line-lg border-charcoal" />
            <div class="row">
              <a href="" class="btn btn-default col-md-6">dom</a>
              <a href="" class="btn btn-default col-md-6">dom</a>
              <a href="" class="btn btn-default col-md-6">dom</a>
              <a href="" class="btn btn-default col-md-6">....</a>
            </div>
          </div>
        </li>
        <li class="media row">
          <a href="#" class="media-left col-md-5">
            <img src="./images/it-sign.jpg" alt="" class="img-thumbnail" />
          </a>
          <div class="media-body col-md-7">
            <h4 class="media-heading text-center">BOOTSTRAP</h4>
            <hr class="split-line-lg border-charcoal" />
            <div class="row">
              <a href="" class="btn btn-default col-md-6">组件</a>
              <a href="" class="btn btn-default col-md-6">组件</a>
              <a href="" class="btn btn-default col-md-6">组件</a>
              <a href="" class="btn btn-default col-md-6">....</a>
            </div>
          </div>
        </li>
        <li class="media row">
          <a href="#" class="media-left col-md-5">
            <img src="./images/it-sign.jpg" alt="" class="img-thumbnail" />
          </a>
          <div class="media-body col-md-7">
            <h4 class="media-heading text-center">PHP</h4>
            <hr class="split-line-lg border-charcoal" />
            <div class="row">
              <a href="" class="btn btn-default col-md-6">PDO</a>
              <a href="" class="btn btn-default col-md-6">PDO</a>
              <a href="" class="btn btn-default col-md-6">PDO</a>
              <a href="" class="btn btn-default col-md-6">....</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- end content -->

</body>

</html>
