<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>xxx</title>
    </head>
    <body>
        <script src="./javascript/jquery.min.js" charset="utf-8"></script>
        <script type="text/javascript">
            $.post(
                "../../Controller/Safe/token.php",
                function(data,status,xhr) {
                    console.log(data);
                    console.log(xhr);
                    console.log(status);
                },
                "text"
            );
        </script>
    </body>
</html>
