.h40
{
    height: 40px;
}
.h50
{
    height: 50px;
}
.h60
{
    height: 60px;
}
.h400
{
    height: 400px;
}
.h1000
{
    height: 1000px;
}
.w100
{
    width: 100%;
}
.red
{
    background: red;
}
.pad0
{
    padding: 0;
}
.mt50
{
    margin-top: 50px;
}
.mlr
{
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
}
.h200
{
    height: 200px;
}
.h100
{
    height: 100px;
}

/* start xxx */
/* end xxx */


/* start 布局 */

    /* start 水平居中 */
        .horizontal-center
        {
            margin: auto;
        }
    /* end 水平居中 */

    /* start 底部固定 */
        .fixed-bottom{
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            margin-bottom: 0;
        }
    /* end 底部固定 */

    /* start 列充满 */
        .container-control{
            margin-left: -15px;
            margin-right: -15px;
        }
    /* end 列充满 */

    /* start 相对定位 */
        .relative{
            position: relative;
        }
    /* end 相对定位 */

    /* start 绝对靠右 */
        .keep-right{
            position: absolute;
            top: 0;
            right: 0;
        }
    /* end 绝对靠右 */

    /* start xxx */
    /* end xxx */

/* end 布局 */

/* start ui */

    /* start 文字 */

        /* start 居中 */
            .text-center{
                text-align: center;
            }
        /* end 居中 */

        /* start 颜色 */
            .write-color{
                color: #fff;
            }
        /* end 颜色 */

        /* start 下划线 */
            .no-down-line{
                text-decoration: none;
            }
        /* end 下划线 */

    /* end 文字 */

    /* start border */
        /* start 颜色 */
            .border-line-black:{
                border-bottom-color: #000;
            }
            .border-line-write:{
                border-bottom-color: #fff;
            }
            .border-line-gray:{
                border-bottom-color: #aaa;
            }
        /* end 颜色 */
    /* end border */


    /* start xxx */
    /* end xxx */


/* end ui */

/* start 组件 */

    /* start 背景 */
        .bg
        {
            position: fixed;
            z-index: -1;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background-color: black;
            background-repeat: no-repeat;
            background-attachment: fixed;
            -webkit-background-size: cover;
                    background-size: cover;
        }
    /* end 背景 */

    /* start 分割线 */

        /* start 中等 */
            .split-line-md
            {
                width: 70%;
                margin: 5px auto;

                border: 0;
                border-bottom-width: 1px;
                border-bottom-style: solid;
            }
        /* end 中等 */

        /* start 全图 */
            .split-line-lg
            {
                width: 100%;
                margin: 5px auto;

                border: 0;
                border-bottom-width: 1px;
                border-bottom-style: solid;
            }
        /* end 全图 */

    /* end 分割线 */

/* end 组件 */
