.h40{
    height: 40px;
}
.h50{
    height: 50px;
}
.h60{
    height: 60px;
}
.h400{
    height: 400px;
}
.h1000{
    height: 1000px;
}
.w100{
    width: 100%;
}
.red{
    background: red;
}
.pad0{
    padding: 0;
}
.mt50{
    margin-top: 50px;
}
.mlr{
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
}
.h200{
    height: 200px;
}
.h100{
    height: 100px;
}
