<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Comic&nbsp;&middot;&nbsp;Liyusky</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/general.css">
    <script src="./javascript/jquery.min.js"></script>
    <script src="./javascript/bootstrap.js"></script>
</head>

<body>
    <div class="container-fluid pad0">
        <div class="w100 h50 red">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 h50" id="nav">
                        nav
                    </div>
                    <div class="col-md-3 h50" id="login">
                        login
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 h50">
                    <a href="#">
                    logo
                    <img src="" alt="" id="logo" />
                </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 h50">
                    <p>
                        <input type="text" name="name" value="">
                        <a href="#">search</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt50">
        <div class="row">
            <div class="col-md-10 h400">
                <div class="row h200 mlr">
                    <div class="col-md-12 h50" id="title">
                        <div class="big-title">

                        </div>
                        <div class="small-title">

                        </div>
                    </div>
                    <div class="col-md-12 h100" id="content">
                        <img src="" alt="" />img
                        <div class="introduction">
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-12 h50" id="marker">
                        <div class="row">
                            <div class="col-md-4">
                                发表在
                                <a href="#">xxx目录</a>
                            </div>
                            <div class="col-md-4">
                                标签：关键字
                            </div>
                            <div class="col-md-4">
                                回复数
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 red h200">
                <form class="row" action="" method="post">
                    <div class="col-md-3">username</div>
                    <div class="col-md-9">
                        <input type="text" name="" id="">
                    </div>
                    <div class="col-md-3">password</div>
                    <div class="col-md-9">
                        <input type="text" name="" id="">
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="登陆">
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="注册">
                    </div>
                </form>
                <ul class="row h200">
                    <li class="col-md-12"></li>
                    <li class="col-md-12"></li>
                    <li class="col-md-12"></li>
                    <li class="col-md-12"></li>
                    <li class="col-md-12"></li>
                    <li class="col-md-12"></li>
                    <li class="col-md-12"></li>
                    <li class="col-md-12"></li>
                    <li class="col-md-12"></li>
                    <li class="col-md-12"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid mt50">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <ul class="row">
                        <li class="col-md-6 h50">about us</li>
                        <li class="col-md-6 h50">传送门</li>
                    </ul>
                </div>
                <div class="col-md-3 h50">
                    其他链接方式如qq微信
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 h50">
                    许可证
                </div>
            </div>
        </div>
    </div>
</body>

</html>
