<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <title>comic</title>
        <link rel="stylesheet" href="./css/bootstrap.css" />
        <link rel="stylesheet" href="./css/general.css" />
        <script src="./javascript/jquery.min.js"></script>
        <script src="./javascript/bootstrap.js"></script>
    </head>
    <body>


        <!--start container-->
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="thumbnail center card">
                        <div class="caption center">
                            <h2>主标题<a href="#"><span class="badge pull-right">45</span></a></h2>
                            <p>发表于<a href="#">2016-11-21</a></p>
                        </div>
                        <a href="#">
                            <img alt="image" src="./images/thumbnail.jpg" />
                        </a>
                            <div class="caption center">
                                <p>一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍<a href="#" >继续阅读&rarr;</a></p>
                                <div class="row">
                                    <div class="col-md-9">
                                        <p>
                                            <span>发表在</span>
                                            <a href="#">动画</a>
                                            <span>|<span>
                                            <span>标签为</span>
                                            <a href="#">动漫</a>
                                            <span>、</span>
                                            <a href="#">实妹</a>
                                            <span>|</span>
                                            <a href="#">45条回复</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="btn">
                        <button class="btn btn-primary btn-lg">登录</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end container-->


    </body>
</html>
