<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Communication&nbsp;&middot;&nbsp;Liyusky</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/general.css">
    <script src="./javascript/jquery.min.js"></script>
    <script src="./javascript/bootstrap.js"></script>
  </head>
  <body>
    <header class="container-fluid pad0">
      <div class="w100 h50 red">
        <div class="container">
          <div class="row">
            <nav class="col-md-9 h50" id="nav">
              nav
            </nav>
            <div class="col-md-3 h50" id="login">
              login
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-5 h50">
            <a href="#">
              logo
              <img src="" alt="" id="logo" />
            </a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 h50">
            <p>
              <input type="text" name="name" value="">
              <a href="#">search</a>
            </p>
          </div>
        </div>
      </div>
    </header>
    <div class="container mt50">
      <div class="row h100">
        <ul class="col-md-9">
          <li class="row h100">
            <div class="col-md-12">
              title
            </div>
            <div class="col-md-12 h50">
              content
            </div>
            <div class="col-md-12">
              num
            </div>
          </li>
        </ul>
        <div class="col-md-3">
          <div class="login">
            登陆
          </div>
        </div>
      </div>
    </div>
    <footer class="container-fluid mt50">
      <div class="container">
        <div class="row">
          <nav class="col-md-9">
            <ul class="row">
              <li class="col-md-6 h50">about us</li>
              <li class="col-md-6 h50">传送门</li>
            </ul>
            <div class="clearfix visible-xs-block"></div>
          </nav>
          <nav class="col-md-3 h50">
            其他链接方式如qq微信
          </nav>
        </div>
        <div class="row">
          <div class="col-md-12 h50">
            许可证
          </div>
        </div>
      </div>
    </footer>
</body>
</html>
