<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>HOME&nbsp;&middot;&nbsp;Liyusky</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/general.css">
    <script src="./javascript/jquery.min.js"></script>
    <script src="./javascript/bootstrap.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="logo">
                        img
                        <img src="" alt="" />
                    </div>
                    <ul class="pages">
                        <li class="page h50">
                            <a href="#">News</a>
                        </li>
                        <li class="page h50">
                            <a href="#">IT</a>
                        </li>
                        <li class="page h50">
                            <a href="#">dongman</a>
                        </li>
                        <li class="page h50">
                            <a href="#">communication</a>
                        </li>
                        <li class="game h50">
                            <a href="#">game</a>

                        </li>
                        <li class="party h50">
                            <a href="#">party</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <form class="" action="index.html" method="post">
                    <ul>
                        <li class="row h50">
                            <div class="col-md-3">
                                username
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="" id="">
                            </div>
                        </li>
                        <li class="row h50">
                            <div class="col-md-3">
                                password
                            </div>
                            <div class="col-md-9">
                                <input type="password" name="" id="">
                            </div>
                        </li>
                        <li class="row h50">
                            <div class="col-md-6">
                                <input type="submit" value="登陆">
                            </div>
                            <div class="col-md-6">
                                <input type="submit" value="注册">
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
