<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>New&nbsp;&middot;&nbsp;Liyusky</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/general.css">
    <script src="./javascript/jquery.min.js"></script>
    <script src="./javascript/bootstrap.js"></script>
</head>

<body>
    <header class="container-fluid pad0">
        <div class="w100 h50 red">
            <div class="container">
                <div class="row">
                    <nav class="col-md-9">
                        <a href="#">communication</a>
                        <a href="#">comic</a>
                        <a href="#">technology</a>
                        <a href="#">party</a>
                        <a href="#">game</a>
                    </nav>
                    <div class="col-md-3 h50">
                        <div class="row">
                            <input type="text" class="col-md-8">
                            <a href="" class="col-md-4"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <figure class="col-md-5 h50">
                    <a href="">
                        <img src="" alt="">
                    </a>
                </figure>
            </div>
        </div>

    </header>
    <div class="container-fluid pad0">
        <div class="w100 h50 red">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 h50" id="nav">
                        nav
                    </div>
                    <div class="col-md-3 h50" id="login">
                        login
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 h50">
                    <a href="#">
                        logo
                        <img src="" alt="" id="logo" />
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 h50">
                    <p>
                        <input type="text" name="name" value="">
                        <a href="#">search</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt50">
        <div class="row">
            <div class="col-md-9">
                <ul class="row">
                    <li class="col-md-4 h50">1</li>
                    <li class="col-md-4 h50">2</li>
                    <li class="col-md-4 h50">3</li>
                    <li class="col-md-4 h50">4</li>
                    <li class="col-md-4 h50">5</li>
                    <li class="col-md-4 h50">6</li>
                </ul>
            </div>
            <div class="col-md-3 h50">
                <div class="row"></div>
            </div>
        </div>
    </div>
    <div class="container mt50">
        <div class="row">
            <div class="col-md-9">
                <ul class="row">
                    <li class="col-md-4 h50">1</li>
                    <li class="col-md-4 h50">2</li>
                    <li class="col-md-4 h50">3</li>
                    <li class="col-md-4 h50">4</li>
                    <li class="col-md-4 h50">5</li>
                    <li class="col-md-4 h50">6</li>
                </ul>
            </div>
            <div class="col-md-3 h50">
                <div class="row"></div>
            </div>
        </div>
    </div>
    <div class="container mt50">
        <div class="row">
            <div class="col-md-9">
                <ul class="row">
                    <li class="col-md-4 h50">1</li>
                    <li class="col-md-4 h50">2</li>
                    <li class="col-md-4 h50">3</li>
                    <li class="col-md-4 h50">4</li>
                    <li class="col-md-4 h50">5</li>
                    <li class="col-md-4 h50">6</li>
                </ul>
            </div>
            <div class="col-md-3 h50">
                <div class="row"></div>
            </div>
        </div>
    </div>
    <div class="container mt50">
        <div class="row">
            <div class="col-md-9">
                <ul class="row">
                    <li class="col-md-4 h50">1</li>
                    <li class="col-md-4 h50">2</li>
                    <li class="col-md-4 h50">3</li>
                    <li class="col-md-4 h50">4</li>
                    <li class="col-md-4 h50">5</li>
                    <li class="col-md-4 h50">6</li>
                </ul>
            </div>
            <div class="col-md-3 h50">
                <div class="row"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt50">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <ul class="row">
                        <li class="col-md-6 h50">about us</li>
                        <li class="col-md-6 h50">传送门</li>
                    </ul>
                    <div class="clearfix visible-xs-block"></div>
                </div>
                <div class="col-md-3 h50">
                    其他链接方式如qq微信
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 h50">
                    许可证
                </div>
            </div>
        </div>
    </div>
</body>

</html>
