<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>New&nbsp;&middot;&nbsp;Liyusky</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/general.css">
    <link rel="stylesheet" href="./css/new.css">
    <script src="./javascript/jquery.min.js"></script>
    <script src="./javascript/bootstrap.js"></script>
</head>

<body>
    <!-- start header -->
    <header class="container-fluid bd" style="background-image: url(./images/)">
        <!-- start nav -->
        <nav class="navbar container-control">
            <div class="container relative">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#">NEWS</a></li>
                    <li role="presentation"><a href="#">COMICS</a></li>
                    <li role="presentation"><a href="#">IT SKILLS</a></li>
                    <li role="presentation"><a href="#">GUEST BOOKS</a></li>
                    <li role="presentation"><a href="#">GAMES</a></li>
                    <li role="presentation"><a href="#">PARTYS</a></li>
                </ul>
                <ul class="nav nav-pills keep-right">
                    <li><a href="">登陆</a></li>
                    <li><a href="#">/</a></li>
                    <li><a href="">注册</a></li>
                </ul>
            </div>
        </nav>
        <!-- end nav -->
        <div class="container">
            <div class="row">
                <!-- start logo -->
                <figure class="col-md-3" style="margin-top:15px;">
                    <a href="">
                        <img src="./images/logo.svg" alt="" class="img-responsive" />
                    </a>
                </figure>
                <!-- end logo -->
                <!-- start search -->
                <form class=" form col-md-3 col-md-push-6" action="index.html" method="post" style="margin-top:50px;margin-bottom:20px;">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                </form>
                <!-- end search -->
            </div>
        </div>
    </header>
    <!-- end header -->

    <!-- start comic section -->
    <section class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- start title -->
                <div class="row">
                    <div class="col-md-9">
                        <h2>Comic</h2>
                    </div>
                    <div class="col-md-3">
                        <ul class="row list-unstyled" style="margin-top:20px;">
                            <li class="col-md-6">
                                <a href="#" class="btn btn-default">
                                    <span class="glyphicon glyphicon-refresh"></span>
                                    <span>换一批</span>
                                </a>
                            </li>
                            <li class="col-md-6">
                                <a href="#" class="btn btn-default">
                                    <span>更多</span>
                                    <span>&gt;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end title -->
                <!-- start content -->
                <ul class="row list-unstyled">
                    <li class="col-md-4">
                        <a href="" class="thumbnail">
                            <img src="./images/new-section-test.jpg" alt="" class="img-responsive img-rounded">
                            <div class="caption">
                                <h5>这是一条标题这是一条标题这是一条标题</h5>
                                <ul class="row list-unstyled">
                                    <li class="col-md-6">
                                        <p class="text-left">liyusky</p>
                                    </li>
                                    <li class="col-md-6">
                                        <p class="text-right">2016-11-21</p>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-4">
                        <a href="" class="thumbnail">
                            <img src="./images/new-section-test.jpg" alt="" class="img-responsive img-rounded">
                            <div class="caption">
                                <h5>这是一条标题这是一条标题这是一条标题</h5>
                                <ul class="row list-unstyled">
                                    <li class="col-md-6">
                                        <p class="text-left">liyusky</p>
                                    </li>
                                    <li class="col-md-6">
                                        <p class="text-right">2016-11-21</p>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-4">
                        <a href="" class="thumbnail">
                            <img src="./images/new-section-test.jpg" alt="" class="img-responsive img-rounded">
                            <div class="caption">
                                <h5>这是一条标题这是一条标题这是一条标题</h5>
                                <ul class="row list-unstyled">
                                    <li class="col-md-6">
                                        <p class="text-left">liyusky</p>
                                    </li>
                                    <li class="col-md-6">
                                        <p class="text-right">2016-11-21</p>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-4">
                        <a href="" class="thumbnail">
                            <img src="./images/new-section-test.jpg" alt="" class="img-responsive img-rounded">
                            <div class="caption">
                                <h5>这是一条标题这是一条标题这是一条标题</h5>
                                <ul class="row list-unstyled">
                                    <li class="col-md-6">
                                        <p class="text-left">liyusky</p>
                                    </li>
                                    <li class="col-md-6">
                                        <p class="text-right">2016-11-21</p>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-4">
                        <a href="" class="thumbnail">
                            <img src="./images/new-section-test.jpg" alt="" class="img-responsive img-rounded">
                            <div class="caption">
                                <h5>这是一条标题这是一条标题这是一条标题</h5>
                                <ul class="row list-unstyled">
                                    <li class="col-md-6">
                                        <p class="text-left">liyusky</p>
                                    </li>
                                    <li class="col-md-6">
                                        <p class="text-right">2016-11-21</p>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-4">
                        <a href="" class="thumbnail">
                            <img src="./images/new-section-test.jpg" alt="" class="img-responsive img-rounded">
                            <div class="caption">
                                <h5>这是一条标题这是一条标题这是一条标题</h5>
                                <ul class="row list-unstyled">
                                    <li class="col-md-6">
                                        <p class="text-left">liyusky</p>
                                    </li>
                                    <li class="col-md-6">
                                        <p class="text-right">2016-11-21</p>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- start content -->
            </div>
            <div class="col-md-3">
                <div class="list-group" style="margin-top:20px;">
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end comic section -->

    <!-- start game section -->
    <section class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- start title -->
                <div class="row">
                    <div class="col-md-9">
                        <h2>Game</h2>
                    </div>
                    <div class="col-md-3">
                        <ul class="row list-unstyled" style="margin-top:20px;">
                            <li class="col-md-6">
                                <a href="#" class="btn btn-default">
                                    <span class="glyphicon glyphicon-refresh"></span>
                                    <span>换一批</span>
                                </a>
                            </li>
                            <li class="col-md-6">
                                <a href="#" class="btn btn-default">
                                    <span>更多</span>
                                    <span>&gt;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end title -->
                <!-- start content -->
                <ul class="row list-unstyled">
                    <li class="col-md-4">
                        <a href="" class="thumbnail">
                            <img src="./images/new-section-test.jpg" alt="" class="img-responsive img-rounded">
                            <div class="caption">
                                <h5>这是一条标题这是一条标题这是一条标题</h5>
                                <ul class="row list-unstyled">
                                    <li class="col-md-6">
                                        <p class="text-left">liyusky</p>
                                    </li>
                                    <li class="col-md-6">
                                        <p class="text-right">2016-11-21</p>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-4">
                        <a href="" class="thumbnail">
                            <img src="./images/new-section-test.jpg" alt="" class="img-responsive img-rounded">
                            <div class="caption">
                                <h5>这是一条标题这是一条标题这是一条标题</h5>
                                <ul class="row list-unstyled">
                                    <li class="col-md-6">
                                        <p class="text-left">liyusky</p>
                                    </li>
                                    <li class="col-md-6">
                                        <p class="text-right">2016-11-21</p>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-4">
                        <a href="" class="thumbnail">
                            <img src="./images/new-section-test.jpg" alt="" class="img-responsive img-rounded">
                            <div class="caption">
                                <h5>这是一条标题这是一条标题这是一条标题</h5>
                                <ul class="row list-unstyled">
                                    <li class="col-md-6">
                                        <p class="text-left">liyusky</p>
                                    </li>
                                    <li class="col-md-6">
                                        <p class="text-right">2016-11-21</p>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-4">
                        <a href="" class="thumbnail">
                            <img src="./images/new-section-test.jpg" alt="" class="img-responsive img-rounded">
                            <div class="caption">
                                <h5>这是一条标题这是一条标题这是一条标题</h5>
                                <ul class="row list-unstyled">
                                    <li class="col-md-6">
                                        <p class="text-left">liyusky</p>
                                    </li>
                                    <li class="col-md-6">
                                        <p class="text-right">2016-11-21</p>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-4">
                        <a href="" class="thumbnail">
                            <img src="./images/new-section-test.jpg" alt="" class="img-responsive img-rounded">
                            <div class="caption">
                                <h5>这是一条标题这是一条标题这是一条标题</h5>
                                <ul class="row list-unstyled">
                                    <li class="col-md-6">
                                        <p class="text-left">liyusky</p>
                                    </li>
                                    <li class="col-md-6">
                                        <p class="text-right">2016-11-21</p>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-4">
                        <a href="" class="thumbnail">
                            <img src="./images/new-section-test.jpg" alt="" class="img-responsive img-rounded">
                            <div class="caption">
                                <h5>这是一条标题这是一条标题这是一条标题</h5>
                                <ul class="row list-unstyled">
                                    <li class="col-md-6">
                                        <p class="text-left">liyusky</p>
                                    </li>
                                    <li class="col-md-6">
                                        <p class="text-right">2016-11-21</p>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- start content -->
            </div>
            <div class="col-md-3">
                <div class="list-group" style="margin-top:20px;">
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end game section -->

    <!-- start skill section -->
    <section class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- start title -->
                <div class="row">
                    <div class="col-md-9">
                        <h2>IT Skill</h2>
                    </div>
                    <div class="col-md-3">
                        <ul class="row list-unstyled" style="margin-top:20px;">
                            <li class="col-md-6">
                                <a href="#" class="btn btn-default">
                                    <span class="glyphicon glyphicon-refresh"></span>
                                    <span>换一批</span>
                                </a>
                            </li>
                            <li class="col-md-6">
                                <a href="#" class="btn btn-default">
                                    <span>更多</span>
                                    <span>&gt;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end title -->
                <!-- start content -->
                <ul class="row list-unstyled">
                    <li class="col-md-4">
                        <a href="" class="thumbnail">
                            <img src="./images/new-section-test.jpg" alt="" class="img-responsive img-rounded">
                            <div class="caption">
                                <h5>这是一条标题这是一条标题这是一条标题</h5>
                                <ul class="row list-unstyled">
                                    <li class="col-md-6">
                                        <p class="text-left">liyusky</p>
                                    </li>
                                    <li class="col-md-6">
                                        <p class="text-right">2016-11-21</p>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-4">
                        <a href="" class="thumbnail">
                            <img src="./images/new-section-test.jpg" alt="" class="img-responsive img-rounded">
                            <div class="caption">
                                <h5>这是一条标题这是一条标题这是一条标题</h5>
                                <ul class="row list-unstyled">
                                    <li class="col-md-6">
                                        <p class="text-left">liyusky</p>
                                    </li>
                                    <li class="col-md-6">
                                        <p class="text-right">2016-11-21</p>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-4">
                        <a href="" class="thumbnail">
                            <img src="./images/new-section-test.jpg" alt="" class="img-responsive img-rounded">
                            <div class="caption">
                                <h5>这是一条标题这是一条标题这是一条标题</h5>
                                <ul class="row list-unstyled">
                                    <li class="col-md-6">
                                        <p class="text-left">liyusky</p>
                                    </li>
                                    <li class="col-md-6">
                                        <p class="text-right">2016-11-21</p>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-4">
                        <a href="" class="thumbnail">
                            <img src="./images/new-section-test.jpg" alt="" class="img-responsive img-rounded">
                            <div class="caption">
                                <h5>这是一条标题这是一条标题这是一条标题</h5>
                                <ul class="row list-unstyled">
                                    <li class="col-md-6">
                                        <p class="text-left">liyusky</p>
                                    </li>
                                    <li class="col-md-6">
                                        <p class="text-right">2016-11-21</p>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-4">
                        <a href="" class="thumbnail">
                            <img src="./images/new-section-test.jpg" alt="" class="img-responsive img-rounded">
                            <div class="caption">
                                <h5>这是一条标题这是一条标题这是一条标题</h5>
                                <ul class="row list-unstyled">
                                    <li class="col-md-6">
                                        <p class="text-left">liyusky</p>
                                    </li>
                                    <li class="col-md-6">
                                        <p class="text-right">2016-11-21</p>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-4">
                        <a href="" class="thumbnail">
                            <img src="./images/new-section-test.jpg" alt="" class="img-responsive img-rounded">
                            <div class="caption">
                                <h5>这是一条标题这是一条标题这是一条标题</h5>
                                <ul class="row list-unstyled">
                                    <li class="col-md-6">
                                        <p class="text-left">liyusky</p>
                                    </li>
                                    <li class="col-md-6">
                                        <p class="text-right">2016-11-21</p>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- start content -->
            </div>
            <div class="col-md-3">
                <div class="list-group" style="margin-top:20px;">
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end skill section -->

    <!-- start music section -->
    <section class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- start title -->
                <div class="row">
                    <div class="col-md-9">
                        <h2>Music</h2>
                    </div>
                    <div class="col-md-3">
                        <ul class="row list-unstyled" style="margin-top:20px;">
                            <li class="col-md-6">
                                <a href="#" class="btn btn-default">
                                    <span class="glyphicon glyphicon-refresh"></span>
                                    <span>换一批</span>
                                </a>
                            </li>
                            <li class="col-md-6">
                                <a href="#" class="btn btn-default">
                                    <span>更多</span>
                                    <span>&gt;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end title -->
                <!-- start content -->
                <ul class="row list-unstyled">
                    <li class="col-md-4">
                        <a href="" class="thumbnail">
                            <img src="./images/new-section-test.jpg" alt="" class="img-responsive img-rounded">
                            <div class="caption">
                                <h5>这是一条标题这是一条标题这是一条标题</h5>
                                <ul class="row list-unstyled">
                                    <li class="col-md-6">
                                        <p class="text-left">liyusky</p>
                                    </li>
                                    <li class="col-md-6">
                                        <p class="text-right">2016-11-21</p>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-4">
                        <a href="" class="thumbnail">
                            <img src="./images/new-section-test.jpg" alt="" class="img-responsive img-rounded">
                            <div class="caption">
                                <h5>这是一条标题这是一条标题这是一条标题</h5>
                                <ul class="row list-unstyled">
                                    <li class="col-md-6">
                                        <p class="text-left">liyusky</p>
                                    </li>
                                    <li class="col-md-6">
                                        <p class="text-right">2016-11-21</p>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-4">
                        <a href="" class="thumbnail">
                            <img src="./images/new-section-test.jpg" alt="" class="img-responsive img-rounded">
                            <div class="caption">
                                <h5>这是一条标题这是一条标题这是一条标题</h5>
                                <ul class="row list-unstyled">
                                    <li class="col-md-6">
                                        <p class="text-left">liyusky</p>
                                    </li>
                                    <li class="col-md-6">
                                        <p class="text-right">2016-11-21</p>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-4">
                        <a href="" class="thumbnail">
                            <img src="./images/new-section-test.jpg" alt="" class="img-responsive img-rounded">
                            <div class="caption">
                                <h5>这是一条标题这是一条标题这是一条标题</h5>
                                <ul class="row list-unstyled">
                                    <li class="col-md-6">
                                        <p class="text-left">liyusky</p>
                                    </li>
                                    <li class="col-md-6">
                                        <p class="text-right">2016-11-21</p>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-4">
                        <a href="" class="thumbnail">
                            <img src="./images/new-section-test.jpg" alt="" class="img-responsive img-rounded">
                            <div class="caption">
                                <h5>这是一条标题这是一条标题这是一条标题</h5>
                                <ul class="row list-unstyled">
                                    <li class="col-md-6">
                                        <p class="text-left">liyusky</p>
                                    </li>
                                    <li class="col-md-6">
                                        <p class="text-right">2016-11-21</p>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-4">
                        <a href="" class="thumbnail">
                            <img src="./images/new-section-test.jpg" alt="" class="img-responsive img-rounded">
                            <div class="caption">
                                <h5>这是一条标题这是一条标题这是一条标题</h5>
                                <ul class="row list-unstyled">
                                    <li class="col-md-6">
                                        <p class="text-left">liyusky</p>
                                    </li>
                                    <li class="col-md-6">
                                        <p class="text-right">2016-11-21</p>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- start content -->
            </div>
            <div class="col-md-3">
                <div class="list-group" style="margin-top:20px;">
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                    <a href="" class="list-group-item">小道消息</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end music section -->

    <!-- start footer -->
    <footer class="container-fluid">
        <div class="container">
            <ul class="row list-unstyled">
                <!-- start link -->
                <li class="col-md-4">
                    <h3 class="title">友情链接</h3>
                    <ul class="list-group">
                        <li class="list-group-item">Feather</li>
                        <li class="list-group-item">xxxxxxx</li>
                    </ul>
                </li>
                <!-- end link -->

                <!-- start tag -->
                <li class="col-md-5">
                    <h3 class="title">我们用到的技术</h3>
                    <ul class="btn-toolbar">
                        <li class="btn-group">
                            <a href="#" class="btn btn-default">xxx</a>
                        </li>
                        <li class="btn-group">
                            <a href="#" class="btn btn-default">xxx</a>
                        </li>
                        <li class="btn-group">
                            <a href="#" class="btn btn-default">xxx</a>
                        </li>
                        <li class="btn-group">
                            <a href="#" class="btn btn-default">xxx</a>
                        </li>
                        <li class="btn-group">
                            <a href="#" class="btn btn-default">xxx</a>
                        </li>
                        <li class="btn-group">
                            <a href="#" class="btn btn-default">xxx</a>
                        </li>
                    </ul>
                </li>
                <!-- end tag -->

                <!-- start other -->
                <li class="col-md-3">
                    <h3 class="title">其他软件</h3>
                    <ul class="row list-unstyled">
                        <li class="col-md-4">
                            <a href="#" class="text-center">
                                <div class="row">
                                    <span class="glyphicon glyphicon-leaf" style="font-size:50px;"></span>
                                </div>
                                <div class="row">微信</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- end other -->
            </ul>
        </div>
        <div class="row text-center">
            <hr class="split-line-lg border-line-gray" />
            <p>liyusky是一个个人兴趣分享网站,欢迎志同道合的朋友一起寻找快乐。</p>
            <hr class="split-line-md border-line-gray" />
            <p>liyusky版权&copy;2016-2017&nbsp;liyusky保留所有权利。备案号：皖ICP备16021919号-1</p>
        </div>
    </footer>
    <!-- end footer -->

    <script type="text/javascript">
        $(".nav-tabs a").click(function(e) {
            e.preventDefault();
            $(this).tab("show");
        });
    </script>
</body>

</html>
