<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>鲤鱼旗</title>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./fonts/iconfont.css">
    <link rel="stylesheet" type="text/css" href="./css/general.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <img class="row margin-top-lg" src="./images/logo.svg" alt="">
                <h4>一起快乐地讨论吧！</h4>
                <div class="nav nav-pills margin-vertical-extension text-center">
                    <a class="btn btn-link btn-control active" id="switch-in" data-switch="1" data-toggle="tab" href="#signup" style="color:#0f88eb;">登录</a>
                    <a class="btn btn-link btn-control" id="switch-up" data-switch="0" data-toggle="tab" href="#signin" style="color:#9bd0d0;">注册</a>
                </div>
                <ul class="tab-content margin-vertical-extension list-unstyled">
                    <li class="tab-pane fade in active" id="signup">
                        <input class="form-control margin-vertical-extension" id="login-username" type="text" placeholder="用户名">
                        <input class="form-control margin-vertical-extension" id="login-password" type="text" placeholder="密码">
                        <a class="btn btn-primary form-control margin-vertical-extension" onclick="javascript:login();">登录</a>
                        <p class="text-left">
                            <a href="#">手机验证码登录</a>
                            <a class="pull-right" href="#" target="_blank">无法登录？</a>
                        </p>
                        <div class="row">
                            <div class="col-md-4">
                                <a class="pull-left" href="javascript:void(0);" onclick="javascript:openBox();" style="line-height:31px;">社交账号登录</a>
                            </div>
                            <div class="col-md-4">
                                <div class="overflow-hidden none row" id="hide" style="height:25px;width:0;">
                                    <a class="iconfont icon-weixin icon col-md-4" href="#" target="_blank"></a>
                                    <a class="iconfont icon-weibo icon col-md-4" href="#" target="_blank"></a>
                                    <a class="iconfont icon-qq icon col-md-4" href="#" target="_blank"></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="tab-pane fade" id="signin">
                        <input class="form-control margin-vertical-extension" id="regist-username" type="text" placeholder="用户名">
                        <input class="form-control margin-vertical-extension" id="email" type="text" placeholder="邮箱">
                        <input class="form-control margin-vertical-extension" id="regist-password" type="text" placeholder="密码">
                        <a class="btn btn-primary form-control margin-vertical-extension" onclick="javascript:regist();">注册</a>
                        <p>
                            <span>点击&#91;注册&#93;按钮，即代表你同意</span>
                            <a href="#" target="_blank">《本站协议》</a>
                        </p>
                    </li>
                </ul>
                <a class="btn btn-default form-control margin-vertical-extension hidden">下载APP</a>
            </div>
        </div>
        <footer class="footer">
            <p class="text-center fixed-bottom">
                <span>&copy; 2016 鲤鱼旗</span>
                <span class="dot">·</span>
                <a href="#" target="_blank">发现</a>
                <span class="dot">·</span>
                <a target="_blank" href="#">联系我们</a>
                <br>
                <a href="#" target="_blank">京 ICP 证 110745 号</a>
                <span class="dot">·</span>
                <span>京公网安备 11010802010035 号</span>
            </p>
        </footer>
    </div>
    <script src="./javascript/jquery.min.js"></script>
    <script src="./javascript/bootstrap.js"></script>
    <script>
        /**
         * [检查密码格式]
         * @param  {[string]} password [从密码输入框获得的值]
         * @return {[boolean]}              [决定输入的值是否提交]
         */
        function isPassword(password) {
            var reg = /[a-zA-Z0-9]{6,12}/; // 数字字母
            return reg.test(password);
        }
        /**
         * []检查用户名格式]
         * @param  {[string]} username [从用户名输入框获得的值]
         * @return {[boolean]}          [决定输入的值是否提交]
         */
        function isUsername(username) {
            var reg = /(^[a-zA-Z])([a-zA-Z0-9]{5,11})/; // 开头所有字母，中间字母数字
            return reg.test(username);
        }
        /**
         * [检查email地址是否正确]
         * @param  {[string]} email [从email输入框获得的值]
         * @return {[boolean]}             [决定输入的值是否提交]
         */
        function isEmail(email) {
            var reg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
            return reg.test(email);
        }
        /**
         * [判断用户名密码格式]
         * @return                         {[boolean]} [允许或阻止数据的提交]
         * @method
         * @author
         * @version
         * @datetime
         */
        function login() {
            var username = document.getElementById('login-username').value;
            if (!isUsername(username)) {
                alert("用户名不正确！")
                return false;
            }
            var password = document.getElementById('login-password').value;
            if (!isPassword(password)) {
                alert("密码不正确！")
                return false;
            }
        }
        /**
         * [此函数在注册时确定输入格式的正确与否]
         * @return {[boolean]} [返回的布尔值视情况而提交]
         */
        function regist() {
            var username = document.getElementById('regist-username').value;
            if (!isUsername(username)) {
                alert("用户名不正确！");
                return false;
            }
            var password = document.getElementById('regist-password').value;
            if (!isPassword(password)) {
                alert("密码不正确！");
                return false;
            }
            var email = document.getElementById('email').value;
            if (!isEmail(email)) {
                alert("邮箱地址不正确！");
                return false;
            }
        }
        /**
         * [此函数隐藏或开启社交媒体登录选项框]
         * @return {[none]} [仅仅发生一种行为]
         */
        function openBox() {
            if ($("#hide").attr('class') == "overflow-hidden none row") {
                $("#hide").attr("class", "overflow-hidden inline-block");
                $("#hide").animate({
                    width: '150px'
                }, "slow");
            } else {
                $("#hide").animate({
                    width: '0'
                }, "slow");
                $("#hide").attr("class", "overflow-hidden none row");
            }
        }
        /**
         * [此函数执行点击登录、注册两按钮时颜色切换]
         * @return {[none]}
         */
        function typeSwitch() {
            //点击登录按钮后所执行
            $("#switch-in").click(function() {
                $(this).attr({
                    "data-switch": "1",
                    "style": "color:#0f88eb;"
                });
                $("#switch-up").attr({
                    "data-switch": "0",
                    "style": "color:#9bd0d0;"
                });
            });
            //点击注册按钮后所执行
            $("#switch-up").click(function() {
                $(this).attr({
                    "data-switch": "1",
                    "style": "color:#0f88eb;"
                });
                $("#switch-in").attr({
                    "data-switch": "0",
                    "style": "color:#9bd0d0;"
                });
            });
        }
        typeSwitch();

        jQuery.post(
            "../../Controller/Safe/token.php",
            function(data, status) {
                console.log(data);
            }
        );
    </script>
</body>

</html>
